h2{
    text-align: center;
}

#par1{
    color: blue;
    text-align: center;
    text-transform: capitalize;
    
}

#par2{
    color: red;
    text-align: right;
    text-transform: lowercase;

}

#par3{
    color: green;
    text-align: justify;
    text-decoration: line-through dashed red 2px;

}

#par4{
    color: brown;
    text-decoration: underline;
    text-indent: 2rem;
}

#par5{
    color: black;
    text-decoration: overline wavy red;
    text-transform: uppercase;
}