body{
    background-color: blanchedalmond;
}

h2{
    text-align: center;
}

#par1{
    color: blue;
    text-align: center;
    text-transform: capitalize;
    direction: rtl;
    unicode-bidi: bidi-override;
    
}

#par2{
    color: red;
    text-align: right;
    text-transform: lowercase;
    line-height: 3rem;
    text-shadow: 3px 3px 5px;

}

#par3{
    color: green;
    text-align: justify;
    text-decoration: line-through dashed red 2px;

}

#par4{
    color: brown;
    text-decoration: underline;
    text-indent: 2rem;
    letter-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#par5{
    color: black;
    text-decoration: overline wavy red;
    text-transform: uppercase;
    word-spacing: 4rem;
}