
h1{
    background-color: aquamarine;
    margin-bottom: 0%;
}

#par1{
    background-color: coral;
    margin: auto;
    width: 250px;
}

#par2{
    background-color: aqua;
    
}

.container{
    border: 2px solid red;
    margin: 40px;
}